# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Nikita\My_Projects\GeekBrains\11_Основы Django Framework\01_lesson. Знакомство с фреймворком\geekshop\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
